html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #333344;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    height: 100%;
    margin: 0 auto;
    /* border: 2px solid #555555; */
}

.container:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.cell {
    flex: 1;
    display: inline-block;
    min-width: 12%;
    height: 12.5%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45%;
}

.black { background-color: #444455  }
.white { background-color: #555566  }

.rook-black { background-image: url("img/rook-black.png") }
.rook-white {  background-image: url("img/rook-white.png") }
.knight-black {  background-image: url("img/knight-black.png") }
.knight-white {  background-image: url("img/knight-white.png") }
.bishop-black {  background-image: url("img/bishop-black.png") }
.bishop-white {  background-image: url("img/bishop-white.png") }
.queen-black {  background-image: url("img/queen-black.png") }
.queen-white {  background-image: url("img/queen-white.png") }
.king-black {  background-image: url("img/king-black.png") }
.king-white {  background-image: url("img/king-white.png") }
.pawn-black {  background-image: url("img/pawn-black.png") }
.pawn-white {  background-image: url("img/pawn-white.png") }

.available-cell {
    box-shadow: inset 0 0 10px rgb(25, 153, 25);
    cursor: pointer;
}

.available-cell:hover {
    filter: hue-rotate(45deg);
}

.selected-cell {
    box-shadow: inset 0 0 10px rgb(22, 22, 22);
}
